In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.DataFrame(pd.read_csv('Calls_for_Service_2015_20241226.csv'))

In [13]:
df.head()

,NOPD_Item,Type_,TypeText,Priority,InitialType,InitialTypeText,InitialPriority,MapX,MapY,TimeCreate,...,TimeArrive,TimeClosed,Disposition,DispositionText,SelfInitiated,Beat,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
0,A0000915,63,PROWLER,2C,63,PROWLER,2C,3691999,525715,01/01/2015 12:03:26 AM,...,01/01/2015 12:13:46 AM,01/01/2015 12:29:15 AM,GOA,GONE ON ARRIVAL,N,4I01,014XX Casa Calvo St,70114.0,4,"(29.93921295, -90.03512576)"
1,A0000915,63,PROWLER,2C,63,PROWLER,2C,3691999,525715,01/01/2015 12:03:26 AM,...,01/01/2015 12:13:46 AM,01/01/2015 12:29:15 AM,GOA,GONE ON ARRIVAL,N,4I01,014XX Casa Calvo St,70114.0,4,"(29.93921295, -90.03512576)"
2,A0001015,94,DISCHARGING FIREARM,2B,94,DISCHARGING FIREARM,2B,3668626,532154,01/01/2015 12:03:43 AM,...,01/01/2015 12:09:18 AM,01/01/2015 12:15:09 AM,UNF,UNFOUNDED,N,2U03,College Ct & Earhart Blvd,70125.0,2,"(29.95762393, -90.10869788)"
3,A0001115,94,DISCHARGING FIREARM,1A,94,DISCHARGING FIREARM,2B,3668441,538345,01/01/2015 12:03:59 AM,...,NaN,01/01/2015 03:30:05 AM,UNF,UNFOUNDED,N,3D02,Baudin St & S Olympia St,70119.0,3,"(29.97465231, -90.10907539)"
4,A0001215,94,DISCHARGING FIREARM,1A,94,DISCHARGING FIREARM,2B,3684578,550848,01/01/2015 12:04:15 AM,...,NaN,01/01/2015 03:30:06 AM,UNF,UNFOUNDED,N,3T01,049XX Mandeville St,70122.0,3,"(30.00854815, -90.05766993)"

In [14]:
duplicate_rows = df[df.duplicated()]
len(duplicate_rows)

1

In [11]:
df.describe()

               MapX          MapY            Zip  PoliceDistrict
count  4.327330e+05  4.327330e+05  424461.000000   432733.000000
mean   4.700320e+06  6.270966e+05   70120.818659        4.538355
std    5.777069e+06  5.108789e+05       5.856911        2.403991
min    0.000000e+00  0.000000e+00   70112.000000        0.000000
25%    3.673916e+06  5.291740e+05   70116.000000        3.000000
50%    3.681672e+06  5.351340e+05   70119.000000        5.000000
75%    3.694194e+06  5.473520e+05   70126.000000        7.000000
max    3.736900e+07  3.513814e+06   70148.000000        8.000000